body
{
	background-color: #ffffff;
}

.mhide
{
	display: none;
}

h2
{
	
	color: #0066ff;
	text-align: center;	
	font-size: 25px;
	font-family: 'Merienda', cursive; 
}

p
{
	color: #ffffff;
	text-align: center;
	font-size: 35px;
	margin: 0 auto ;
	font-family: 'Merienda', cursive; 
}

.ps
{
	padding-top: 2%;
}

u
{
	color: #0066ff;
	font-family: 'Merienda', cursive; 
}

*
{
	margin: 0;
}

.p1
{
	padding-top: 9%;	
	font-size:60px;
}


.subSect
{
	height: 12%;
	background-color: #000000;
}

.subSect2
{
	height: 10%;
	background-color: #000000;
}

.sectOne
{
	background-image: url("https://i.imgur.com/jR6gpjM.jpg");
}

.sectTwo
{
	background-image: url("https://i.imgur.com/jfcxyCb.jpg");	
}

.sectThree
{
	background-color: #ffffff; 
	height: 15%;
}

.sectSeven
{
	background-image: url("https://i.imgur.com/XG3j6b8.jpg");
}

.ss1
{
	margin-top: 25%;
	width: 25%;
	height: 25%;	
	padding-top: 0%;
	margin-left:10%; 
	margin-bottom: 20%;
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size:38px;

}

.ss2
{
	margin-top: -40%;
	width: 25%;
	height: 25%;	
	margin-left:80%; 
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size:38px;
	margin-bottom: 18%;
}


.ss3
{
	margin-top: -63%;
	padding-top: 0%;
	margin-left:-10%; 
	margin-bottom: 20%;
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size:38px;

}

.ss4
{
	margin-top: -63%;
	width: 25%;
	height: 25%;	
	margin-left:4%; 
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size:38px;
	margin-bottom: 18%;
}


.ss5
{
	margin-top: -100%;
	width: 25%;
	height: 25%;	
	padding-top: 0%;
	margin-left:8%; 
	margin-bottom: 20%;
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size:38px;

}

.hd2
{
	font-family: 'Merienda', cursive;
	font-size: 50px;
	text-align: center;
	color: #000000;	
	margin-top: 15%;
}

.fa
{
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	margin-left: 14%;
}

.fa:hover
{
	cursor: pointer;
	transform: scale(2.5,2.5);
}

.fa-github 
{
	background: #000000;
 	color: white;
}

.fa-twitter 
{
 	background: #1abc9c	;
 	color: white;
}

.fa-instagram 
{
  	background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
 	color: white;
}

.fa-envelope 
{
 	background: rgb(213, 0, 0);
 	color: white;
}
