		body
		{
		background: linear-gradient(to left, #3399ff 0%, #00ffcc 100%);
		}

		h1
		{
				
			font-size: 22px;
			text-align: center;
		}
		p
		{
			color:#000000;
			word-spacing: 1px;
			font:'Dancing Script', cursive;
			font-size: 18px;
			text-align: center;
			margin: 0 auto ;
		}
		img
		{
			height: 200px;
			width: 200px ;
			border-radius:50%;
			text-align: center;
		}
		#mmyne
		{
			font-family: 'Dancing Script', cursive;
			font-size: 30px;
			text-align: center;
			color: #ff0066;
			margin:0 auto;
			margin-top: 0px;
		}
		a
		{
			text-decoration: none;
			color: #ffff00;	
			font-family: 'Pacifico', cursive;
		}
		a:hover
		{
			text-decoration: none;
			color: black;
		}

		#icon
		{
			text-decoration: none;
			text-align: center;
			color: #ffff00;
			word-spacing: 10px;
			padding-bottom: 90px;
		
		}

		#textchange1
		{
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		text-align: center;	
		color: white;
		}
		#textchange6
		{
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		text-align: center;	
		color: white;
		}
		#textchange2
		{
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		text-align: center;	
		color: white;
		}
		#textchange3
		{
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		text-align: center;
		color: white;	
		}
		#textchange4
		{
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		text-align: center;	
		color: white;
		}						
		#panelabt
		{
			background-image: : url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvlZXbzuexek8W-_b21vRt6aHqaRRWjCOSnzczZ_31UswNiEL5)			
		}

		#panelabi,#panelcur,#paneledu
		{
			display: none;
			width: 100%;		
			background-image: : url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvlZXbzuexek8W-_b21vRt6aHqaRRWjCOSnzczZ_31UswNiEL5)		
		}
		#pinnav
		{
			padding-bottom:  0 auto ;	
		}
		#botresnavgi	
		{	
			text-align: center;
			background-color:#3399ff;
			position:fixed;
			bottom:0;
			left:0;
			width:100%;	
			padding-top:3%;
			padding-right: 0 auto;
			padding-bottom:3%;
		}

		
	@media only screen and (max-width: 320px)
	{
		#botresnavgi
		{
			padding-left: 9%;
		}
	}

	@media only screen and (min-width: 321px) and (max-width: 767px)
	{
		#botresnavgi
		{
			padding-left: 15%;
		}
	}

		#mflipabt,#mflipabi,#mflipcur,#mflipedu
		{	
			font-family: "avenir", sans-serif;
			display: inline-block;
			float: left;
			font-size: 15px;
			color: #ffffff;	 
			margin:2%;
		}

		.mhide
		{
			display: none;
		}
