*
{
	margin: 0;
}

a
{
	text-decoration: none;
	color: #000000;
}

.deskhide
{
	display: none;
}

html,body
{
	height: 100%;
	background-color: #000000;
}

.sect
{
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-position: center;
	overflow: hidden;
}

.sect2
{
	height: 50%;
}


.subSect
{
	height: 25%;
	background-color: #000000;
}

.subSect2
{
	height: 32%;
	background-color: #000000;
}

.sectOne
{
	background-image: url("https://i.imgur.com/jR6gpjM.jpg");
}

.sectTwo
{
	background-image: url("https://i.imgur.com/jfcxyCb.jpg");	
}

.sectThree
{
	background-color: #ffffff; 
	
}

.sectSeven
{
	background-image: url("https://i.imgur.com/XG3j6b8.jpg");
}


.hd2
{
	font-family: 'Merienda', cursive;
	font-size: 50px;
	text-align: center;
	color: #000000;	
	margin-top: 15%;
}


.fa
{
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	margin-left: 16%;
}

.fa:hover
{
	cursor: pointer;
	transform: scale(2.5,2.5);
}

.fa-github 
{
	background: #000000;
 	color: white;
}

.fa-twitter 
{
 	background: #1abc9c	;
 	color: white;
}

.fa-instagram 
{
  	background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
 	color: white;
}

.fa-envelope 
{
 	background: rgb(213, 0, 0);
 	color: white;
}


.p1
{
	padding-top: 4%;
}

.s1
{
	margin-top: 20%;
	width: 25%;
	height: 25%;	
	padding-top: 0%;
	margin-left:10%; 
	margin-bottom: 20%;
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size: 50px;

}

.s2
{
	margin-top: -32%;
	width: 25%;
	height: 25%;	
	margin-left:72%; 
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size: 50px;
	margin-bottom: 18%;
}


.s3
{
	margin-top: 10%;
	width: 25%;
	height: 25%;	
	padding-top: 0%;
	margin-left:10%; 
	margin-bottom: 20%;
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size: 50px;

}

.s4
{
	margin-top: -32%;
	width: 25%;
	height: 25%;	
	margin-left:90%; 
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size: 50px;
	margin-bottom: 18%;
}


.s5
{
	margin-top: 5%;
	width: 25%;
	height: 25%;	
	padding-top: 0%;
	margin-left:18%; 
	margin-bottom: 20%;
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size: 50px;

}

.s6
{
	margin-top: -30%;
	width: 25%;
	height: 25%;	
	margin-left:68%; 
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size: 35px;
	margin-bottom: 18%;
}

.s7
{
	margin-top: -20%;
	width: 25%;
	height: 25%;	
	margin-left:78%; 
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size: 35px;
	margin-bottom: 18%;
}

.s8
{
	margin-top: -40%;
	width: 25%;
	height: 25%;	
	margin-left:88%; 
	font-family: 'Merienda', cursive;
	color: #000000;
	font-size: 35px;
	margin-bottom: 18%;
}


.img1
{
	height: 100%;
	width: 50%;
}


h2
{
	color: #0066ff;
	text-align: center;	
	font-size: 50px;
	font-family: 'Merienda', cursive;
}
p
{
	color: #ffffff;
	text-align: center;
	font-size: 35px;
	margin: 0px 200px 0px 200px ;
	font-family: 'Merienda', cursive;;
}
u
{
	color: #0066ff;
	font-family: 'Merienda', cursive;
}


.h1
{

	font-family: 'Merienda', cursive;
	font-size: 50px;
	text-align: center;
	color: #ffffff;
}

.info
{
	font-family: 'Merienda', cursive;
	font-size: 30px;
	text-align: center;
	color: #00ccff;
}

/* images 	*/

.pro 
{
	margin-left:2%;
 	position: relative;
 	width: 30%;
	float:left
}

.img 
{
 	display: block;
 	width: 100%;
 	height: auto;
 	border-radius: 7%;
 	box-shadow: 7px 7px #0d0d0d;
}
 .img:hover
 {
 	transform: scale(1.05,1.05);
 }

.text 
{
	opacity: 0.9;
 	white-space: nowrap; 
 	color: #000000;
 	font-size: 40px;
 	position: absolute;
  	overflow: hidden;
  	top: 80%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-family: 'Merienda', cursive; 
}	
.bot
{
/*	padding-top: 10%;
	padding-bottom: 10%;*/
}

