		body
		{
	  		background: linear-gradient(to right, #4776e6, #8e54e9);
	  	}
		h1
		{
			
			font-size: 20px;
		
		}
		p
		{
			color:#737373;
			word-spacing: 2px;
			font-family: 'Sintony', sans-serif;
			font-size: 22px;
			text-align: center;
			margin: 0px 100px 0px 650px;
			color:#ffffff;
		}

		img
		{
			width: 300px;
			height: 300px;
			margin-left: 50%;
			margin-top: 15%;
			border-radius: 25px;
		}
		.timeline
		{
			margin-top: -23%;
			float: right;
			clear: both;
		}
		.mainimg
		{

			float: left;
			clear: both;
		}	
		#myne
		{
			font-family: 'Merienda One', cursive;
			font-size: 20px;
			padding-right:  19%;
			text-align: right;
			color: #ffffff;	
		}
		a
		{
			font-family: 'Merienda One', cursive;
			text-decoration: none;
			color: #00ffff;
		}
		a:hover
		{
			text-decoration: none;
			color: #000000;
		}
		#icon
		{
			text-decoration: none;
			word-spacing: 5px;
			color: #00ffff;
			margin-right: 18px;
		}					
		#icon:hover
		{
			color:#000000;
			cursor: pointer;
		}
				
		/*---for Heading1----*/

		#textchange1
		{
			color: #ffffff;
			font-family: 'Sintony', sans-serif;
			font-size: 10px;
			padding-left: 66%;
		}
		#textchange2
		{
			color: #ffffff;	
			font-family: 'Sintony', sans-serif;
			font-size: 10px;
			padding-left: 66%;	
		}
		#textchange3
		{
			color: #ffffff;	
			font-family: 'Sintony', sans-serif;
			font-size: 10px;
			padding-left: 66%;
		}

		#textchange4
		{
			color: #ffffff;	
			font-family: 'Sintony', sans-serif;
			font-size: 10px;
			padding-left: 66%;
		}
		#textchange5
		{
			color: #ffffff;		
			font-family: 'Sintony', sans-serif;
			font-size: 10px;
			
		}

		#panelabt
		{
			
		}

		#panelabi
		{
			
			display: none;
			width: 100%;		
			
		}
		#panelski
		{
			width: 100%;
			display: none;
		}				
		#panelcur,#paneledu
		{
			display: none;
			width: 100%;		
			
		}

		#resnavgi	
		{
			background-color: linear-gradient(to left, #0072ff, #00c6ff);
			position:fixed;	
			font-family: 'Sintony', sans-serif;
			text-align:center;
			top:0;
			left:0;
			width:100%;	
			display: block;
			
			
		}	

		#flipabt,#flipabi,#flipcur,#flipedu
		{
			float: left;
			font-size: 17px;
			margin-top: 1%;
			color:#ffffff;
			padding-left: 3%;	 
			cursor: pointer;
		}

		
		.deskhide
		{
			display: none;
		}


			
